<!DOCTYPE html>

<head>
    Error
</head>

<body>
    <h1>
        An unexpected Error occured Heres what may have been happend.
    </h1>
    <br>

    <h1>
        1.you did'nt select any niche | Please select any niche before submiting  <br>
        2.you generated too many video ideas in a short period of time | please Try Again after a few moments <br>
        The error is {{e}}
    </h1>

    <h1>
        We really appericiate your patience please return to the same page and Try again. 
    </h1>

</body>
</html>
